@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

nav{
  height:10vh;
  position: relative;
  display: flex;
  padding: 0 30px 0 50px;
  justify-content: space-between;
  align-items: center;
}

.searchField{
  width: 200px;
  height: 50px;
  border: 3px solid black;
  border-radius: 15px;
}

.userPanel{
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  
}
.userIcon{
  margin-right: 20px;
  cursor: pointer;
}


.userPopUp{
position: fixed;
top:0px;
right: 30px;
width:200px;
border:2px solid black;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: stretch;
border-radius: 5px;
transform: translateY(90%);
transition: 0.1s;
}
.userPopUp div{
  width: 100%;
  height: 40px;
  font-size:18px ;
  background-color: gray;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  padding:2px 4px;
}
.userPopUp div:hover{
  background-color: darkgray;
}

.userPopUp .notActive:hover{
  cursor:not-allowed;
  background-color: gray;
}

.provincePopUp{
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 4;
  background-color: rgba(60,60,60,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.provincePopUpInner{
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.provincePopUpInner > div {
  height:40px;
  display: flex;
  align-items:  flex-end;
  border-bottom:  1px solid black;
}
.provincePopUpInner > div:hover{
  background-color: #3cbc8d;
  cursor:pointer;
}


main{
  position: relative;
  min-height:90vh;
  background-color: #E9F1FA;
  /* background-color: #0A1828; */
  padding: 40px;
}

main p{
  /* font-size: 30px; */
}
main h2{
  margin-bottom: 20px;
  font-size: 30px;
}


.mapWrapper{
  width: 800px;
  height: 100%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 30px
}

.productInfo{
  width: 300px;
  height: 100%;
  font-size: 22px;
  display: flex;
  flex-direction: column;
}


.productPrices{
  width: 400px;
  border: 1px solid black;
  height: 100%;
  /* overflow-y: scroll; */
  padding: 10px;
}

.productPrices h3{
  margin-bottom: 5px;
  text-align: center;
}

.province{
  display: flex;
  align-items: center;
  height: 6%;
  border: 1px solid black;
  width: 350px;
  cursor: pointer;
  padding: 0 5px;
  margin: 0 auto;
}

.listItem{
  border: 1px solid black;
  width: 350px;
  padding:5px;
  margin: 10px auto;
  max-height: 650px;
  overflow-y:auto
}

.singleProvince{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6%;
  border: 1px solid black;
  border-radius: 5px;
  width: 350px;
  padding: 0 5px;
  margin-bottom: 10px;
  margin: 0 auto;
}

.singleProvince > button{
  border:none;
  height:100%;
  font-size:17px;
  cursor:pointer;
  background:none;
  color:royalblue;
  z-index: 2;
}
.province:hover{
  background-color: #888;
}



.province:nth-of-type(1){
  border-radius:5px 5px 0px 0px;
}

.province:last-child{
  border-radius:0px 0px 5px 5px;
}

.commentWrapper{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.commentWrapper p{
  color:lightskyblue;
  text-decoration: underline;
}

.loginForm h1 {
  align-items: center;
}

.form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: medium solid black;
  border-radius: 5px;
  padding: 20px;
  font-size: large;
}



input {
  width: 100%;
  padding: 3px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

input:focus {
  border: 2px solid #555;
}

input[type=submit] {
  cursor:pointer;
  background-color: #3cbc8d;
  color: white;
}

input[type=submit]:hover {
  background-color: rgba(60, 188, 141, 0.8);
}


.mostViewedWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.mostViewedWrapper > h1{
  position: absolute;
  top: 50px;
  color:#00ABE4
}

.mostViewedItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 300px;
  width: 350px;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  color: black;
  /* background-color: #00ABE4; */
  border-radius: 20px;
  padding: 10px;
  border:5px solid white;
}

.mostViewedItem img{
  filter: drop-shadow(30px 10px 4px #00ABE4);
  width: 350px;
  height: 200px;
  display: block;
  object-fit: contain;
}



.mostViewedItem:nth-of-type(4),.mostViewedItem:nth-of-type(5),.mostViewedItem:nth-of-type(6){
  margin-top: 70px;
}