*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav{
  height:20vh;
  background-color: aqua;
}

main{
  height:80vh;
  background-color: green;
}
