*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav{
  height:10vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.userPanel{
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.userIcon{
  margin-right: 20px;
}

nav h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

main{
  height:80vh;
  background-color: bisque;
}

loginForm h1 {
  align-items: center;
}

.loginForm{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: medium solid black;
  border-radius: 5px;
  padding: 20px;
  font-size: large;
}

.registerForm{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: medium solid black;
  border-radius: 5px;
  padding: 20px;
  font-size: large;
}

input {
  width: 100%;
  padding: 3px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

input:focus {
  border: 2px solid #555;
}

input[type=submit] {
  background-color: #3cbc8d;
  color: white;
}